In [2]:
import pandas as pd
import numpy as np
import requests
import json

In [27]:
df = pd.read_csv('../data/dataset_uncensored.csv')
# df = pd.read_csv('../data/test_data.csv')
# df['start'] = df['start'].apply(lambda x: x-1)
df

           id chr      start        end            ref alt  driver data_source
0        mut0   3  101578254  101578255          CAGTT   C       1        ICGC
1        mut1   3  101578285  101578286  GACCATTTGCCTT   G       1        ICGC
2        mut2   3  101578250  101578251            CTG   C       1        ICGC
3        mut3  17   48940015   48940016         CTAAAT   C       1        ICGC
4        mut4  17   48939986   48939987             AT   A       1        ICGC
...       ...  ..        ...        ...            ...  ..     ...         ...
1081  mut1081   4   95496939   95496939              C   T       0      COSMIC
1082  mut1082   6   53026396   53026396              C   T       0      COSMIC
1083  mut1083   2  220077160  220077160              G   T       0      COSMIC
1084  mut1084  16   31471209   31471209              C   T       0      COSMIC
1085  mut1085  18   59584293   59584293              G   C       0      COSMIC

[1086 rows x 8 columns]

In [28]:
res = pd.DataFrame()
for index, row in df.iterrows():
    print(index)
    if row['start'] >= row['end']:
        url = """https://api.genome.ucsc.edu/getData/track?genome=hg19;track=rmsk;chrom=chr{};start={};end={}""".format(row['chr'], row['start'], row['start'] + 1)
    else:
        url = """https://api.genome.ucsc.edu/getData/track?genome=hg19;track=rmsk;chrom=chr{};start={};end={}""".format(row['chr'], row['start'], row['end'])
    # print(url)
    response = requests.get(url)
    # if pd.DataFrame(response.json())
    res = pd.concat([res, pd.DataFrame(response.json())])
    # print(response.json())
    # if index > 500:
    #     break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263

SSLError: HTTPSConnectionPool(host='api.genome.ucsc.edu', port=443): Max retries exceeded with url: /getData/track?genome=hg19;track=rmsk;chrom=chr17;start=7576852;end=7576853 (Caused by SSLError(SSLEOFError(8, 'EOF occurred in violation of protocol (_ssl.c:1007)')))

In [29]:
res

,downloadTime,downloadTimeStamp,genome,dataTime,dataTimeStamp,trackType,track,start,end,chrom,rmsk,itemsReturned
0,2023:10:31T19:49:03Z,1698781743,hg19,2020-02-20T11:09:05,1582225745,rmsk,rmsk,8076894,8076895,chr17,"{'bin': 646, 'swScore': 1234, 'milliDiv': 22, ...",1.0
0,2023:10:31T19:49:04Z,1698781744,hg19,2020-02-20T11:09:05,1582225745,rmsk,rmsk,8076887,8076888,chr17,"{'bin': 646, 'swScore': 1234, 'milliDiv': 22, ...",1.0
0,2023:10:31T19:49:05Z,1698781745,hg19,2020-02-20T11:09:05,1582225745,rmsk,rmsk,8076895,8076896,chr17,"{'bin': 646, 'swScore': 1234, 'milliDiv': 22, ...",1.0
0,2023:10:31T19:49:07Z,1698781747,hg19,2020-02-20T11:09:05,1582225745,rmsk,rmsk,8076849,8076850,chr17,"{'bin': 646, 'swScore': 1234, 'milliDiv': 22, ...",1.0
0,2023:10:31T19:53:24Z,1698782004,hg19,2020-02-20T11:09:05,1582225745,rmsk,rmsk,52418603,52418604,chr14,"{'bin': 984, 'swScore': 1066, 'milliDiv': 202,...",1.0

In [30]:
res = res[['start', 'end', 'chrom', 'rmsk', 'itemsReturned']]
res['chrom'] = res['chrom'].apply(lambda x: x.replace('chr', ''))
res

C:\Users\Sana\AppData\Local\Temp\ipykernel_30324\299006627.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res['chrom'] = res['chrom'].apply(lambda x: x.replace('chr', ''))

,start,end,chrom,rmsk,itemsReturned
0,8076894,8076895,17,"{'bin': 646, 'swScore': 1234, 'milliDiv': 22, ...",1.0
0,8076887,8076888,17,"{'bin': 646, 'swScore': 1234, 'milliDiv': 22, ...",1.0
0,8076895,8076896,17,"{'bin': 646, 'swScore': 1234, 'milliDiv': 22, ...",1.0
0,8076849,8076850,17,"{'bin': 646, 'swScore': 1234, 'milliDiv': 22, ...",1.0
0,52418603,52418604,14,"{'bin': 984, 'swScore': 1066, 'milliDiv': 202,...",1.0

In [22]:
res

,start,end,chrom,rmsk,itemsReturned
0,1295202,1295203,5,"{'bin': 594, 'swScore': 289, 'milliDiv': 254, ...",1.0
0,1295225,1295226,5,"{'bin': 594, 'swScore': 289, 'milliDiv': 254, ...",1.0
0,1295225,1295226,5,"{'bin': 594, 'swScore': 289, 'milliDiv': 254, ...",1.0
0,1295225,1295226,5,"{'bin': 594, 'swScore': 289, 'milliDiv': 254, ...",1.0
0,1295225,1295226,5,"{'bin': 594, 'swScore': 289, 'milliDiv': 254, ...",1.0
...,...,...,...,...,...
0,72254390,72254391,X,"{'bin': 1136, 'swScore': 27572, 'milliDiv': 45...",1.0
0,180585988,180585989,3,"{'bin': 1962, 'swScore': 1597, 'milliDiv': 174...",1.0
0,30558758,30558759,19,"{'bin': 818, 'swScore': 1071, 'milliDiv': 167,...",1.0
0,62818733,62818734,16,"{'bin': 1064, 'swScore': 9249, 'milliDiv': 235...",1.0
0,3299585,3299586,19,"{'bin': 610, 'swScore': 1204, 'milliDiv': 89, ...",1.0

In [ ]:
json.loads(res['rmsk'].to_json(orient="records"))

In [31]:
json_struct = json.loads(res.to_json(orient="records"))
df_flat = pd.io.json.json_normalize(json_struct)
df_flat.columns = df_flat.columns.str.replace("rmsk.", "")
df_flat = df_flat.drop_duplicates(keep='first')
df_flat.reset_index(inplace = True, drop = True)
df_flat

C:\Users\Sana\AppData\Local\Temp\ipykernel_30324\1576373224.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  df_flat = pd.io.json.json_normalize(json_struct)
C:\Users\Sana\AppData\Local\Temp\ipykernel_30324\1576373224.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df_flat.columns = df_flat.columns.str.replace("rmsk.", "")

,start,end,chrom,itemsReturned,bin,swScore,milliDiv,milliDel,milliIns,genoName,...,genoEnd,genoLeft,strand,repName,repClass,repFamily,repStart,repEnd,repLeft,id
0,8076894,8076895,17,1.0,646,1234,22,0,0,chr17,...,8076906,-73118304,-,U8,snRNA,snRNA,0,136,1,1
1,8076887,8076888,17,1.0,646,1234,22,0,0,chr17,...,8076906,-73118304,-,U8,snRNA,snRNA,0,136,1,1
2,8076895,8076896,17,1.0,646,1234,22,0,0,chr17,...,8076906,-73118304,-,U8,snRNA,snRNA,0,136,1,1
3,8076849,8076850,17,1.0,646,1234,22,0,0,chr17,...,8076906,-73118304,-,U8,snRNA,snRNA,0,136,1,1
4,52418603,52418604,14,1.0,984,1066,202,62,0,chr14,...,52418622,-54930918,+,MER58A,DNA,hAT-Charlie,4,224,0,1

In [44]:
df_flat.columns

Index(['start', 'end', 'chrom', 'itemsReturned', 'bin', 'swScore', 'milliDiv',
       'milliDel', 'milliIns', 'genoName', 'genoStart', 'genoEnd', 'genoLeft',
       'strand', 'repName', 'repClass', 'repFamily', 'repStart', 'repEnd',
       'repLeft', 'id'],
      dtype='object')

In [68]:
df[df['start'] == 3299586]
# df_flat[df_flat['start'] == 3299585]

     chr    start      end allele  driver
1145  19  3299586  3299586    T/C       0

In [69]:
df['start'] = df['start'].apply(lambda x: x-1)
df_merge = pd.merge(df, df_flat, how='left', left_on=['chr', 'start', 'end'], right_on=['chrom', 'start', 'end'])
df_merge

,chr,start,end,allele,driver,chrom,itemsReturned,bin,swScore,milliDiv,...,genoEnd,genoLeft,strand,repName,repClass,repFamily,repStart,repEnd,repLeft,id
0,16,339436,339437,C/T,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,16,339605,339606,C/T,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,16,347718,347719,C/T,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,16,360067,360068,C/A,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,16,396143,396144,A/T,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1151,6,53026395,53026396,C/T,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1152,2,220077159,220077160,G/T,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1153,16,31471208,31471209,C/T,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1154,18,59584292,59584293,G/C,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1155,19,45976822,45976823,C/A,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
df_merge = df_merge[~df_merge['chrom'].isna()].reset_index(drop=True,inplace=False)
df_merge['start'] = df_merge['start'].apply(lambda x: x+1)
df_merge

,chr,start,end,allele,driver,chrom,itemsReturned,bin,swScore,milliDiv,...,genoEnd,genoLeft,strand,repName,repClass,repFamily,repStart,repEnd,repLeft,id
0,5,1295203,1295203,G/A,1,5,1.0,594.0,289.0,254.0,...,1295316.0,-179619944.0,+,(CGGGG)n,Simple_repeat,Simple_repeat,2.0,133.0,0.0,2
1,5,1295226,1295226,G/A,1,5,1.0,594.0,289.0,254.0,...,1295316.0,-179619944.0,+,(CGGGG)n,Simple_repeat,Simple_repeat,2.0,133.0,0.0,2
2,5,1295226,1295226,G/A,1,5,1.0,594.0,289.0,254.0,...,1295316.0,-179619944.0,+,(CGGGG)n,Simple_repeat,Simple_repeat,2.0,133.0,0.0,2
3,5,1295226,1295226,G/A,1,5,1.0,594.0,289.0,254.0,...,1295316.0,-179619944.0,+,(CGGGG)n,Simple_repeat,Simple_repeat,2.0,133.0,0.0,2
4,5,1295226,1295226,G/A,1,5,1.0,594.0,289.0,254.0,...,1295316.0,-179619944.0,+,(CGGGG)n,Simple_repeat,Simple_repeat,2.0,133.0,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,X,72254391,72254391,C/T,0,X,1.0,1136.0,27572.0,45.0,...,72257675.0,-83012885.0,-,L1PA3,LINE,L1,0.0,6155.0,1.0,4
213,3,180585989,180585989,C/T,0,3,1.0,1962.0,1597.0,174.0,...,180586453.0,-17435977.0,-,LTR1C,LTR,ERV1,0.0,656.0,1.0,2
214,19,30558759,30558759,T/C,0,19,1.0,818.0,1071.0,167.0,...,30559427.0,-28569556.0,+,(TCCA)n,Simple_repeat,Simple_repeat,1.0,706.0,0.0,1
215,16,62818734,62818734,C/T,0,16,1.0,1064.0,9249.0,235.0,...,62822231.0,-27532522.0,-,L1MB8,LINE,L1,-1.0,7037.0,3103.0,1
216,19,3299586,3299586,T/C,0,19,1.0,610.0,1204.0,89.0,...,3299670.0,-55829313.0,+,(TTC)n,Simple_repeat,Simple_repeat,1.0,180.0,0.0,1

In [74]:
# df_merge[df_merge['repClass'] == 'LINE']
df_merge[df_merge['start'] == 3299586]

,chr,start,end,allele,driver,chrom,itemsReturned,bin,swScore,milliDiv,...,genoEnd,genoLeft,strand,repName,repClass,repFamily,repStart,repEnd,repLeft,id
216,19,3299586,3299586,T/C,0,19,1.0,610.0,1204.0,89.0,...,3299670.0,-55829313.0,+,(TTC)n,Simple_repeat,Simple_repeat,1.0,180.0,0.0,1

In [76]:
df_merge[df_merge['start'] == 1295203]

,chr,start,end,allele,driver,chrom,itemsReturned,bin,swScore,milliDiv,...,genoEnd,genoLeft,strand,repName,repClass,repFamily,repStart,repEnd,repLeft,id
0,5,1295203,1295203,G/A,1,5,1.0,594.0,289.0,254.0,...,1295316.0,-179619944.0,+,(CGGGG)n,Simple_repeat,Simple_repeat,2.0,133.0,0.0,2

In [2]:
# df_merge.to_pickle('artifacts/repeat_masker.pickle', compression='infer', protocol=5, storage_options=None)
df_merge = pd.read_pickle('artifacts/repeat_masker.pickle')

In [3]:
df_merge['repClass'].value_counts()

SINE              65
LINE              62
Simple_repeat     40
LTR               30
DNA               13
snRNA              4
Satellite          2
Low_complexity     1
Name: repClass, dtype: int64