In [1]:
import pandas as pd
import numpy as np
import os
import io

In [2]:
all_files = os.listdir('Results')
metadata = pd.read_csv(r'ChIA-PET\metadata.tsv', sep='\t')
# files_to_keep = list(metadata[~(metadata['Biosample term name'].str.contains('positive')) & ~(metadata['Biosample term name'].str.contains('activated')) & ~(metadata['Biosample term name'].str.contains('T-cell'))]['File accession'])
# biosamples = list(metadata[~(metadata['Biosample term name'].str.contains('positive')) & ~(metadata['Biosample term name'].str.contains('activated')) & ~(metadata['Biosample term name'].str.contains('T-cell'))]['Biosample term name'].unique())
df = pd.read_csv(r"D:\Masters Thesis\Code and Files\Final Pipeline\final_dataset.csv")

In [3]:
ctcf_files = list(metadata[~(metadata['Biosample term name'].str.contains('positive')) & ~(metadata['Biosample term name'].str.contains('activated')) & ~(metadata['Biosample term name'].str.contains('T-cell')) & (metadata['Experiment target'].str.contains('CTCF'))]['File accession'])
polr_files = list(metadata[~(metadata['Biosample term name'].str.contains('positive')) & ~(metadata['Biosample term name'].str.contains('activated')) & ~(metadata['Biosample term name'].str.contains('T-cell')) & (metadata['Experiment target'].str.contains('POLR2A'))]['File accession'])

In [7]:
sum_ctcf = 0
for i in ctcf_files:
    f = pd.read_csv('C:/Users/Sana/Downloads/ChiaPET/' + i + '.bedpe', sep = '\t',  header = None)
    sum_ctcf = sum_ctcf + len(f)

In [11]:
sum_pol2r

15622208

In [10]:
sum_pol2r = 0
for i in polr_files:
    f = pd.read_csv('C:/Users/Sana/Downloads/ChiaPET/' + i + '.bedpe', sep = '\t',  header = None)
    sum_pol2r = sum_pol2r + len(f)

In [23]:
print(sum_ctcf)
print(sum_pol2r)

39166005
15622208

In [ ]:
df['SYMBOL'].unique()

array(['PDIA2', 'CPLX1', 'VHL', 'DNM2', 'SMARCA4', 'MAP2K4', 'ZRSR2',
       'NCOR1', 'EPHA2', 'RFTN1', 'STK11', 'snoU2_19', 'RBBP8', 'PARP2',
       'SNORD9', 'CDKN2A', 'POLR3E', 'SMARCB1', 'ARID1A', 'CHEK2', 'NF1',
       'TERT', 'NF2', 'TGFBR2', 'WRN', 'ASXL1', 'BRCA2', 'DAXX', 'CLASP2',
       'ITSN1', 'CUL2', 'FANCE', 'CCDC107', 'AXIN1', 'CLSPN', 'FOXA1',
       'DDX3X', 'BRCA1', 'EP300', 'MGA', 'KANSL1', 'LRPPRC', 'EXT2',
       'KDM6A', 'B2M', 'CBLC', 'SMAD2', 'ARID2', 'RBM10', 'SETD2', 'DDB2',
       'MSH6', 'PTPRJ', 'SMAD4', 'RB1', 'TOB1', 'KMT2D', 'BRD7', 'CYLD',
       'DCC', 'ACVR1B', 'GNG2', 'BAP1', 'TRAM2', 'PBRM1', 'RTN4',
       'BZRAP1', 'RNF43', 'SS18L1', 'ARID5B', 'MAD1L1', 'MAP4K2',
       'ERBB2IP', 'PIK3R1', 'CTCF', 'TSC2', 'CDH1', 'CCAR1', 'INPPL1',
       'DIS3', 'PIBF1', 'ALB', 'TMEM30A', 'ATRX', 'WWOX', 'FUBP1', 'MSH3',
       'RASA1', 'TNFRSF14', nan, 'BMPR1A', 'PTEN', 'CREBBP', 'FANCA',
       'NBN', 'DICER1', 'TMEM127', 'MTERFD1', 'IKBIP', 'NFKBIZ', 'ERCC5',
       'ATM', 'APC', 'KLF6', 'MCC', 'TBX3', 'CSDE1', 'NOTCH2', 'RNF34',
       'IRF1', 'PHF6', 'TSC1', 'PMS2', 'TNFAIP3', 'NOTCH1', 'ATR', 'EZH2',
       'ACVR2A', 'KMT2C', 'ESR1', 'RP11-542C16.2', 'FBXW7', 'TBL1XR1',
       'IRF2', 'FAT1', 'CDC73', 'TP53', 'HES1', 'CASP10', 'BMPR2', 'DTL',
       'ERBB4', 'CUL3', 'TMEM107', 'GATA3', 'STUB1', 'TIMM23',
       'RP11-123O10.3', 'MYH9', 'PAX3', 'NEU4', 'PVRL3', 'VAMP8', 'PFKM',
       'DDX39A', 'SLC12A6', 'CACNA1B', 'RASAL2', 'CRYAA', 'C2orf62',
       'NCOA7', 'SYT15', 'ANGPTL4', 'C1orf51', 'CPNE1', 'FBXL8',
       'AC012309.5', 'AC005539.2', 'RP11-417J1.3', 'MATR3', 'RASL10A',
       'SEPSECS', 'TPP1', 'DHX36', 'AL590708.1', 'SASH1', 'LRRC4',
       'ICAM5', 'ZEB2', 'SLCO2A1', 'NDUFA13', 'STMND1', 'RP11-108B14.4',
       'STARD9', 'AGAP2', 'OR10P1', 'RFX1', 'FRMPD1', 'H3F3B', 'MAP4K5',
       'RP3-380B4.1', 'LGALS3', 'CRIP3', 'CTC-293G12.1', 'TRAPPC9',
       'SMARCD2', 'AACSP1', 'ATP9B', 'MAP3K12', 'EPS8L3', 'FAM198B',
       'OR2J4P', 'UPK3B', 'C1RL', 'MEGF8', 'NDUFS3', 'DNMT3A',
       'AC140061.10', 'GALNS', 'PDIA6', 'IRF7', 'WFDC3', 'C17orf80',
       'BNIPL', 'GPR56', 'MED31', 'MAT2B', 'TMED1', 'IZUMO3', 'PCID2',
       'FIGN', 'TMEM131', 'TCF7', 'TRIM65', 'RP11-443C10.3', 'TET2',
       'TUBB4B', 'FNTA', 'IGKJ5', 'C9orf3', 'MSL1', 'ZNF557', 'CD63',
       'TCF25', 'LMF2', 'SPRR2E', 'MRPS25', 'PRRC2A', 'WDR59', 'TPI1',
       'MRE11A', 'PNPLA3', 'PQLC3', 'KIFC3', 'GNLY', 'COL18A1', 'ADCY3',
       'ZNF528', 'S100A13', 'ALKBH4', 'OSBP', 'AC084262.1', 'AC093698.2',
       'ILK', 'ATP6V0B', 'SMG8', 'SNTA1', 'JMJD1C', 'DEDD', 'OR10Q1',
       'R3HDM1', 'HNRNPDP1', 'CAMSAP3', 'IQSEC3', 'DDX28', 'ANO8', 'SCT',
       'ACD', 'SLC26A10', 'PPP4R4', 'AP002856.5', 'FGF11', 'CIDEB',
       'SNX4', 'NXF1', 'ATP8B3', 'TCP10L2', 'TRPA1', 'IMPACT', 'RIPK3',
       'ABCD1', 'LMCD1', 'RP11-34N19.1', 'KRTCAP2', 'CNPY4', 'PIGG',
       'RGSL1', 'PRSS53', 'OAZ3', 'ACBD3', 'ZNF776', 'SLCO4A1', 'TMEM254',
       'TGFBI', 'DDX27', 'SLC8A1', 'AC097359.1', 'COQ10B', 'CIC',
       'ELMOD1', 'EPN3', 'GNB3', 'TRIM16', 'C4B-AS1', 'SPATS2L', 'GLIS3',
       'ARPC3', 'IRX2', 'NEXN', 'AL031601.4', 'RAB11FIP2', 'CTDNEP1',
       'HERC3', 'RPS14', 'TCEB2', 'DOCK6', 'MLANA', 'MMACHC', 'MEFV',
       'MANBAL', 'MBD6', 'CHN2', 'COBLL1', 'KIAA0825', 'FBXO38',
       'RP11-183E24.2', 'CCNYL2', 'SLC5A9', 'FNBP4', 'SAMD9L', 'NCAPD2',
       'ZFHX4', 'KDR', 'ST6GALNAC1', 'UROD', 'PACS2', 'PDE8B', 'PTPN6',
       'NKD2', 'C12orf57', 'SEPT4', 'SLC7A10', 'C16orf62', 'DLG2',
       'GTF2H4', 'ACOX3', 'ZNF100', 'IGKC', 'CHD9', 'GTF2H1', 'EXTL3',
       'SSUH2', 'PRR20A', 'TRPM3', 'ZNF583', 'KLF8', 'AEBP1', 'MSL3',
       'IL20RB', 'EXOC3L1', 'ARHGAP30', 'CSK', 'C17orf99', 'ZNF829',
       'LRRC43', 'EGLN2', 'PRRT3', 'MYBPC1', 'GCC2', 'HDDC3', 'CCT8',
       'IGHJ6', 'PISD', 'BCL6', 'ANKRD55', 'DYSF', 'DUX4L11', 'PSMC3IP',
       'MRPS14', 'FAM212A', 'GABRB2', 'UQCRC1', 'AJUBA', 'RNU6-366P',
       'USF2', 'ZNF775', 'ARHGAP27', 'LYST', 'CELSR3', 'PRR5', 'KCNMB2',
       'TBC1D3G', 'PLEKHG4', 'PHF21A', 'ATP6V1B1', 'CCDC74B', 'SCAPER',
       'METAP1D', 'ABHD16A', 'NUBP2', 'HARS', 'TATDN3', 'RAB11A', 'DNAH8',
       'RP11-3P22.2', 'TANGO6', 'GRIP2', 'ZNF99', 'BOC', 'PDZD3',
       'RECQL5', 'BID', 'ZNF710', 'LTBR', 'ZIK1', 'IL24', 'PLA2G16',
       'TNKS1BP1', 'CHPT1', 'PNLIPRP1', 'CD1E', 'TREX2', 'FAIM2',
       'CLPSL2', 'KHNYN', 'ZNF28', 'C15orf41', 'NDUFB5', 'RSPH10B2',
       'PPP1R13B', 'LAMB2', 'RSAD2', 'MRPL20', 'ZNF286A', 'SPATA31A6',
       'TRAF4', 'DDX18', 'FUOM', 'ANKRD54', 'NEK1', 'GIGYF2', 'LINC00343',
       'ALDH3A2', 'CTSA', 'MZT2A', 'EBF1', 'MCM7', 'ART4', 'TMEM106A',
       'SLCO2B1', 'ABTB1', 'AKAP4', 'CLEC2D', 'GNL3L', 'TREML4',
       'FAM115A', 'SLIT3', 'OR7K1P', 'SPATA6L', 'CENPT', 'PRKAB2',
       'STX10', 'ARMCX5', 'EEF1D', 'HIF1AN', 'RP11-193P11.3', 'GPS1',
       'UBTF', 'LOXL2', 'ARHGEF25', 'TIGD7', 'TTC19', 'ADCY7', 'ARFGAP3',
       'TREX1', 'TGM2', 'MYBBP1A', 'SRRM2', 'ZNF581', 'PUF60',
       'TNFSF12-TNFSF13', 'RPL37A', 'EIF4B', 'FAXDC2', 'ENGASE', 'AIDA',
       'CDH13', 'CHRM3', 'IGHM', 'TRIM22', 'TFAP2A', 'BCL7C', 'NKIRAS2',
       'WDR45', 'NSUN7', 'FAM222B', 'INSL5', 'MICAL3', 'XPO1', 'SPAG6',
       'TPCN1', 'RAB40B', 'OR1J4', 'GPD1L', 'RFC4', 'MYB', 'YIPF5',
       'RIMS1', 'ZC3H10', 'ECI1', 'SLC25A22', 'C12orf74', 'PRKD2', 'RALA',
       'RP11-354H21.2', 'RFPL4B', 'ZNF195', 'AAMDC', 'ATF7IP2',
       'TRAPPC2L', 'ZNF490', 'TPTE', 'HDGF', 'NCKAP5', 'LRP1',
       'RP11-324L17.1', 'ZNF365', 'TOP2B', 'CCDC129', 'SDF2', 'FXR1',
       'KIF21B', 'TMEM180', 'DEFA9P', 'HEATR1', 'STIM1', 'DCAF17',
       'ACSS2', 'BTK', 'FHL3', 'CELF5', 'NFE2', 'URI1', 'CPT1B', 'PDLIM5',
       'ABCB6', 'ARMC5', 'RP11-357F12.1', 'PLOD3', 'PRMT2', 'CCDC50',
       'RP1-76C18.1', 'LRP2', 'CHRNA7', 'USP36', 'GSTM3', 'ROBO1',
       'SAP18', 'ERCC2', 'ELAC1', 'GCFC2', 'PRSS50', 'PLCE1', 'EIF2B5',
       'LRRC29', 'PCDH17', 'Y_RNA', 'ZMAT2', 'MRPS34', 'ARF5', 'LLGL2',
       'PSD4', 'GAL3ST2', 'LRRC1', 'SPATA22', 'IGLC1', 'C5orf17'],
      dtype=object)

In [ ]:
all_files

In [7]:
df = pd.read_csv('Results/processed_ENCFF008OPR.csv')
df = df[['chr', 'start', 'end', 'pos_37', 'driver']]
df[['CTCF_interactions', 'CTCF_chains', 'POLR2A_interactions', 'POLR2A_chains']] = 0

for file in all_files:
    # if file.replace('processed_', '').replace('.csv', '') in files_to_keep:
    f = pd.read_csv('Results/' + file)
    df[['CTCF_interactions', 'CTCF_chains', 'POLR2A_interactions', 'POLR2A_chains']] = df[['CTCF_interactions', 'CTCF_chains', 'POLR2A_interactions', 'POLR2A_chains']].add(f[['CTCF_interactions', 'CTCF_chains', 'POLR2A_interactions', 'POLR2A_chains']])

df

,chr,start,end,pos_37,driver,CTCF_interactions,CTCF_chains,POLR2A_interactions,POLR2A_chains
0,1,43981392,43981392,44447064,0,509653,389533,441675,297371
1,1,193142068,193142068,193111198,1,1853064,1408350,494199,327505
2,1,239913497,239913497,240076797,0,1580027,1174006,199017,142874
3,1,189107161,189107161,189076292,0,229429,175222,6,4
4,1,212035724,212035724,212209066,1,3519256,2629966,1089722,728628
...,...,...,...,...,...,...,...,...,...
1043,X,54527681,54527681,54554114,0,110684,65841,11983,7685
1044,X,75622499,75622499,74842334,0,0,0,0,0
1045,X,50192749,50192749,49957400,0,145255,92787,1,1
1046,X,73034552,73034552,72254391,0,4,2,0,0
1047,X,45107409,45107409,44966654,1,3,2,14,7

In [8]:
df.to_csv('final_interactions_result.csv', index = False)

In [16]:
df[df['pos_37'] == 339608]

,chr,start,end,pos_37,driver,CTCF_interactions,CTCF_chains,POLR2A_interactions,POLR2A_chains
335,16,289608,289608,339608,1,159802,124543,104219,69206

In [10]:
pd.read_csv('final_interactions_result.csv')

,chr,start,end,pos_37,driver,CTCF_interactions,CTCF_chains,POLR2A_interactions,POLR2A_chains
0,1,43981392,43981392,44447064,0,509653,389533,441675,297371
1,1,193142068,193142068,193111198,1,1549463,1169254,173754,107885
2,1,239913497,239913497,240076797,0,460811,328873,83415,59100
3,1,189107161,189107161,189076292,0,87071,70547,6,4
4,1,212035724,212035724,212209066,1,912001,670970,408752,278048
...,...,...,...,...,...,...,...,...,...
1043,X,54527681,54527681,54554114,0,3,3,66,39
1044,X,75622499,75622499,74842334,0,0,0,0,0
1045,X,50192749,50192749,49957400,0,2693,1882,1,1
1046,X,73034552,73034552,72254391,0,4,2,0,0
1047,X,45107409,45107409,44966654,1,0,0,0,0