In [2]:
import pandas as pd
import numpy as np
from pyliftover import LiftOver

In [9]:
df = pd.read_csv('../data/dataset_uncensored.csv')
df['start_hg19'] = df['start']
df

,id,chr,start,end,ref,alt,driver,data_source,start_hg19
0,mut0,3,101578254,101578255,CAGTT,C,1,ICGC,101578254
1,mut1,3,101578285,101578286,GACCATTTGCCTT,G,1,ICGC,101578285
2,mut2,3,101578250,101578251,CTG,C,1,ICGC,101578250
3,mut3,17,48940015,48940016,CTAAAT,C,1,ICGC,48940015
4,mut4,17,48939986,48939987,AT,A,1,ICGC,48939986
...,...,...,...,...,...,...,...,...,...
1081,mut1081,4,95496939,95496939,C,T,0,COSMIC,95496939
1082,mut1082,6,53026396,53026396,C,T,0,COSMIC,53026396
1083,mut1083,2,220077160,220077160,G,T,0,COSMIC,220077160
1084,mut1084,16,31471209,31471209,C,T,0,COSMIC,31471209
1085,mut1085,18,59584293,59584293,G,C,0,COSMIC,59584293

In [24]:
lift_over = LiftOver('hg19', 'hg38')
for index, row in df.iterrows():
    # print(index)
    try:
        df.at[index, 'start'] = lift_over.convert_coordinate('chr'+row['chr'], row['start'])[0][1]
        df.at[index, 'end'] = lift_over.convert_coordinate('chr'+row['chr'], row['end'])[0][1]
    except Exception as e:
        print(e)
        print("Failed to convert ", 'chr'+row['chr'], row['start'])
        df.drop(index).reset_index(inplace=True,drop=True)

list index out of range
Failed to convert  chr20 63551690
list index out of range
Failed to convert  chr20 63551691
list index out of range
Failed to convert  chr14 18510774
list index out of range
Failed to convert  chr14 18510791
list index out of range
Failed to convert  chr14 18510887
list index out of range
Failed to convert  chr14 18510789
list index out of range
Failed to convert  chr14 18510908
list index out of range
Failed to convert  chr14 18510831
list index out of range
Failed to convert  chr2 94923505
list index out of range
Failed to convert  chr17 34689099
list index out of range
Failed to convert  chr17 34704442
list index out of range
Failed to convert  chr14 18510941
list index out of range
Failed to convert  chr14 18510732
list index out of range
Failed to convert  chr14 18510825
list index out of range
Failed to convert  chr17 34676463
list index out of range
Failed to convert  chr17 34682295
list index out of range
Failed to convert  chr17 34684103
list index out of range
Failed to convert  chr5 181102524
list index out of range
Failed to convert  chr9 63652342
list index out of range
Failed to convert  chr17 83156246
list index out of range
Failed to convert  chr17 82895406
list index out of range
Failed to convert  chr17 77562762
list index out of range
Failed to convert  chr2 242760774
list index out of range
Failed to convert  chr1 150279797
list index out of range
Failed to convert  chr18 79110478
list index out of range
Failed to convert  chr12 53593
list index out of range
Failed to convert  chr12 40242
list index out of range
Failed to convert  chr20 64028378
list index out of range
Failed to convert  chr19 42293804
list index out of range
Failed to convert  chr10 42206713
list index out of range
Failed to convert  chr10 41830569
list index out of range
Failed to convert  chr9 61193766
list index out of range
Failed to convert  chr17 82052404
list index out of range
Failed to convert  chr17 82657219
list index out of range
Failed to convert  chr21 10038906

In [18]:
df.iloc[592]

id                mut592
chr                    2
start          242760774
end            242760774
ref                    G
alt                    A
driver                 0
data_source       COSMIC
start_hg19     242760774
Name: 592, dtype: object

In [21]:
lift_over.convert_coordinate('chr2', 242760774)

[]

In [14]:
row

id                  mut0
chr                    3
start          101578254
end            101578255
ref                CAGTT
alt                    C
driver                 1
data_source         ICGC
start_hg19     101578254
Name: 0, dtype: object

In [ ]:

lo.convert_coordinate('chr4', 775657)